body{
    text-align: center;
}
canvas{
    border:2px solid black;
    background-image: url(images/new.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
}
#talkbox{
    height: 20px;
    color: brown;
    font-size: 26px;
    font-weight: bold;
}